/* .item{
    width: 150px;
    height: 150px;
    background-color: #ff0000;
    border-radius: 20%;
    margin: 20px;
}
.item:nth-child(2){
    background-color: #e26d6d;
}
.item:nth-child(2){
    background-color: #6dc1e2;
}
.wrap{
    display: flex;
    justify-content: center;
}
.box{
    position: relative;
    top: 100px;
    left: 100px;
    z-index: -2;
}
img{
    max-width: 100%;
    display: block;
}
.box{
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    position: relative;
}
.text{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background-color: #0d96ff;
    color: azure;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 700;
}
.wrap{
    display: flex;
}
.chat{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    margin: 0;
    padding: 0;
    background-image: url(https://cdn-icons-png.flaticon.com/512/1653/1653630.png);
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 5;
}
.item{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #cfe1ff;
    border-radius: 10px;
    font-size: 40px;
    color: rgb(192, 132, 53);
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(1){
    background-color: rgb(227, 207, 182);
    top: 125px;
    left: 140px;
    z-index: 2;
}
.item:nth-child(2){
    background-color: rgb(150, 122, 85);
    top: 25px;
    left: 280px;
}
.item:nth-child(3){
    background-color: rgb(78, 65, 47);
    top: 25px;
    left: 80px;
    z-index: 1;
}
.item:nth-child(4){
    background-color: rgb(54, 34, 8);
}
.wrapper{
    position: relative;
    margin-bottom: 100px;
} */
body{
    background-color: #ca8383;
    width: 289px;
    height: 604px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    width: 80px;
    height: 50px;
    background-color: blanchedalmond;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    font-size: 40px;
}
a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
div{
    display: flex;
    justify-content: center;
    align-items: center; 
}